<?xml version='1.0' encoding='UTF-8' ?>
<Configuration>
    <Appenders>

        <Console name="CONSOLE-INFO" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8"
                           pattern="%d %5p %c %m %n"/>
        </Console>

        <RollingFile name="FILE-DEBUG" fileName="log.log"
                     filePattern="log_%i.log">
            <PatternLayout charset="UTF-8"
                           pattern="%d %5p %c %m %n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <root level="trace">
            <appender-ref ref="CONSOLE-INFO" level="info"/>
            <appender-ref ref="FILE-DEBUG" level="debug"/>
        </root>

    </Loggers>

</Configuration>
